/*variables for color containers - змінні для контейнерів кольорів*/ 
:root {
    --color-brand-light: #819B57;
    --color-primary-light: #FAF4EA; 
    --color-primary-dark: #31261A;
    --color-brand-dark: #465929; 
}

/* Base styles */
ul {
    list-style-type: none;
}

/* Домінантний колір сторінки, входить до базових стилів і задається безпосередньо до боді*/
body {
    color: var(--color-primary-dark);
}

/* Button - styles */
.button {
    color: var(--color-primary-light);
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
}

/* header and footer link styles */
.hf-link {
    color: var(--color-primary-light);
}

.hf-link:hover {
    color: var(--color-brand-light);
}



/* hero-tytel styles */
.hero-title {
    color: var(--color-primary-light);
}

.hero-title .accent {
    color: var(--color-brand-light); /*HEX value*/ 
}

/* advantage - list styles */
.advantages-list {
    color: var(--color-primary-light);
    background-color: var(--color-brand-light);
}

/* section-title styles */
.section-title {
    color: var(--color-primary-dark);
}
.section-title .accent {
    color: var(--color-brand-dark);
}